fastapi
uvicorn
pydantic[email]
email-validator
redis[asyncio]
asyncpg
httpx
maxminddb-geolite2
python-multipart
aiohttp
python-dotenv
pyjwt
aiosqlite
psycopg2-binary
passlib[bcrypt]
python-jose[cryptography]
