fastapi
opentelemetry-api
opentelemetry-sdk
opentelemetry-instrumentation-fastapi
prometheus-client
uvicorn
pydantic
redis[asyncio]
aiosqlite
asyncpg
geolite2-redist
python-multipart
aiohttp
python-dotenv
